@{
    ViewData["Title"] = "Contato";
}
<h3>@ViewData["Title"]</h3>

<address>
    Ymagi Gestão Empresarial Ltda<br />
    Endereco Holçanda, 1054<br />
    Ribeirão Preto - Sp<br />
    <abbr title="Phone">Call:</abbr>
    (16) 999945651
</address>

<address>
    <strong>Suporte</strong> <a href="mailto:Support@example.com">daniel@ymagi.com</a><br />
    <strong>WebSite</strong> <a href="www.ymagi.com">www.ymagi      .com</a>
</address>
